.Card {
  border: 1px solid #dbdbdb;
}

.Card-image-container {
  position: relative;
}

.Card-image {
  height: 200px;
  width: 100%;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
